.investment-dash {
  display: grid;
  grid-template:
    "stats graph" 0.3fr
    "transactions investments" 1fr / 2.5fr 1fr;
  place-content: center;
  height: 100%;
  max-width: 95%;
  margin: auto;
  overflow: auto;
  row-gap: 20px;
}
