.mint {
  display: grid;
  grid-template:
    "graph graph" auto
    "balances mint" max-content / 0.5fr 1fr;
  column-gap: 20px;
  max-width: 850px;
  margin: auto;
  row-gap: 20px;

  svg {
    overflow: initial;
  }

  .hec-card {
    width: 100% !important;
    padding: 30px !important;
  }
  .stake-button {
    max-width: none !important;
  }
  .header-title {
    font-size: 23px;
  }
  .tor-supply {
    grid-area: graph;
    display: grid;
    row-gap: 10px;
  }

  .balances {
    display: grid;
    grid-template-rows: max-content 1fr max-content 1fr max-content 1fr;
    grid-area: balances;
    display: grid;
    height: 100%;
    min-width: 250px;
    min-height: 310px;
    hr {
      height: fit-content;
      opacity: 0.2;
      width: 100%;
    }
    .token {
      display: grid;
      grid-template-rows: max-content max-content;
      column-gap: 10px;
      align-items: center;
      align-self: center;
      justify-items: center;
      row-gap: 3px;
      > div:first-child {
        opacity: 0.5;
      }
      .details {
        display: flex;
        row-gap: 5px;
        align-items: center;
        column-gap: 10px;
        .balance {
          font-size: 25px;
        }
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .balances {
      row-gap: 10px;
    }
  }

  .mint-tokens {
    grid-area: mint;
    display: grid;
    grid-auto-rows: max-content 1fr;
    row-gap: 15px;

    .header {
      display: grid;
      grid: 1fr / max-content 1fr;
      align-items: center;
      .max {
        font-size: 15px;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
      }
    }

    .tab-group {
      width: 100%;
      display: grid;
      .tabs {
        display: grid;
        justify-content: center;
      }
      [id^="simple-tabpanel-"] {
        > div {
          padding-bottom: 0;
          padding-right: 0;
          padding-left: 0;
          text-align: center;
        }
      }

      img {
        width: 25px;
        height: 25px;
      }
      .mint-dai,
      .mint-usdc {
        display: grid;
        margin-bottom: 10px;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        align-content: center;
        row-gap: 5px;
        column-gap: 10px;
        align-items: center;

        .balance {
          opacity: 0.7;
          grid-column-start: 2;
        }
        span {
          font-size: 15px;
        }
      }
      .redeem {
        display: grid;
        row-gap: 10px;
        margin-bottom: 10px;
        justify-items: center;
        > div {
          align-items: center;
          column-gap: 10px;
          width: 100%;
          display: flex;
        }
        .radio-group {
          width: 100%;
          justify-items: center;
          display: grid;
          grid-auto-flow: column;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .content {
        row-gap: 10px;
        button {
          justify-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mint {
    grid-template:
      "graph"
      "balances"
      "mint" / 1fr;
  }
}
