@mixin info-row {
  > div {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
  }
}

.pool-farming {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 35% 35%;
  box-sizing: border-box;
  gap: 20px;
  align-content: center;
  justify-content: center;

  .title,
  .data {
    font-size: 20px;
    align-self: center;
  }

  .header-title {
    font-size: 23px;
  }

  .hec-card {
    width: 100% !important;
  }

  svg {
    overflow: initial;
  }

  .header {
    display: grid;
    grid: 1fr / max-content 1fr;
    align-items: center;
  }

  .farming {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: max-content;
    .header {
      grid: 50px / max-content 1fr max-content;
      height: fit-content;
      :last-child {
        justify-self: flex-end;
      }

      svg {
        width: 17px;
        height: 17px;
      }
      .lp-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 5px;
      }
    }

    .tab-group {
      height: fit-content;
      .tabs {
        display: grid;
        justify-content: center;
      }
      [id^="simple-tabpanel-"] {
        > div {
          padding-bottom: 0;
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
    .info {
      display: grid;
      grid-auto-rows: minmax(40px, 1fr);

      @include info-row;
    }

    .cycle-end {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      align-items: center;

      .timer {
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
        }
      }

      @media screen and (max-width: 750px) {
        .timer {
          justify-content: end;
        }
      }
      svg {
        height: 20px;
        width: 20px;
      }
    }

    .actions {
      display: grid;
      grid-auto-flow: column;
      column-gap: 20px;
      grid-template-columns: none !important;
      justify-items: center;
    }

    @media screen and (max-width: 410px) {
      .actions {
        row-gap: 10px;
        column-gap: 0;
        grid-auto-flow: inherit;
      }
    }
  }

  .row-2 {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-column: span 2;
    column-gap: 20px;
    .projection {
      display: grid;
      grid: 1fr / 1fr 2fr;
      box-sizing: border-box;
      padding-top: 30px !important;
      .investment-plan {
        display: grid;
        grid: max-content max-content 1fr / 1fr;
        row-gap: 20px;
        .optimal-amount {
          display: grid;
          align-content: stretch;
          font-size: 16px;
          row-gap: 10px;
          text-align: left !important;
        }
        @media screen and (max-width: 750px) {
          .optimal-amount {
            grid: max-content 1fr / repeat(3, max-content);
            row-gap: 10px;
            justify-content: space-between;
            .title {
              grid-column: 1 / span 3;
            }
          }
        }
        .calculate {
          display: grid;
          row-gap: 10px;
          column-gap: 20px;
        }
        @media screen and (max-width: 750px) {
          button {
            justify-self: center;
          }
        }
      }

      @media screen and (max-width: 1111px) {
        .investment-plan {
          grid-template-rows: max-content max-content 0.5fr;
          row-gap: 10px;
        }
      }
      @media screen and (max-width: 750px) {
        .investment-plan {
          grid-template-columns: 1fr;
        }
      }
    }
    @media screen and (max-width: 750px) {
      .projection {
        grid-column-start: initial;
        grid: 1fr/1fr;
        row-gap: 20px;
      }
    }
    @media screen and (max-width: 400px) {
      .projection {
        grid-column-start: initial;
        grid: initial;
        row-gap: 20px;
      }
    }

    .mint {
      padding-top: 30px !important;
      display: grid;
      grid-auto-rows: max-content 1fr;
      row-gap: 15px;
      .max {
        display: flex;
        justify-content: flex-end;
      }
      .content {
        display: grid;
        grid-auto-rows: max-content minmax(40px, 1fr);
        .tor-balance {
          display: grid;
          justify-items: center;
          row-gap: 5px;
          div:first-child {
            opacity: 0.6;
          }
          .balance {
            font-size: 25px;
            display: flex;
            justify-content: center;
          }
        }
        img {
          width: 25px;
          height: 25px;
        }
        .mint-dai,
        .mint-usdc {
          display: flex;
          column-gap: 10px;
          align-items: center;
          span {
            font-size: 15px;
          }
        }
      }
      @media screen and (max-width: 750px) {
        .content {
          row-gap: 10px;
          button {
            justify-self: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    .row-2 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      row-gap: 20px;
      grid-column: initial;
      .projection {
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .pool-farming {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 750px) {
  .pool-farming {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }
}

@media screen and (max-width: 1280px) {
  .data {
    text-align: end;
  }
}
