@mixin info-row {
  > div {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
  }
}

.pool-farming {
  display: grid;
  box-sizing: border-box;
  gap: 20px;
  align-content: center;
  justify-content: center;
  max-width: 850px;
  margin: auto;

  .title,
  .data {
    font-size: 20px;
    align-self: center;
  }

  .header-title {
    font-size: 23px;
  }

  .hec-card {
    width: 100% !important;
    padding: 30px !important;
  }
  .stake-button {
    max-width: none !important;
  }

  svg {
    overflow: initial;
  }

  .header {
    display: grid;
    grid: 1fr / max-content 1fr;
    align-items: center;
  }

  .tab-group {
    height: fit-content;
    width: 100%;
    .tabs {
      display: grid;
      justify-content: center;
    }
    [id^="simple-tabpanel-"] {
      > div {
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }
    }
  }

  .stats {
    justify-content: space-between;
    display: flex;
    grid-column: span 2;
    align-items: center;
    .tor-title {
      font-size: 25px;
      justify-self: start;
    }
    .hec-card {
      padding: 20px 30px;
    }
    > div {
      .title {
        opacity: 0.7;
        font-size: 17px;
      }
      .data {
        font-weight: 500;
        display: flex;
      }
      display: grid;
      row-gap: 5px;
      justify-items: center;
    }
  }

  @media screen and (max-width: 400px) {
    .stats {
      display: grid;
      justify-content: center;
      row-gap: 20px;
    }
  }

  .wallet {
    min-width: 250px;
    display: grid;
    hr {
      height: fit-content;
      opacity: 0.2;
      width: 100%;
    }
    .header {
      display: grid;
      margin-bottom: 10px;
      column-gap: 10px;
      svg {
        width: 30px;
        height: 30px;
        color: #7fa886;
      }
    }
    .token {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: 10px;
      align-items: center;
      div:first-child {
        opacity: 0.5;
      }
      .details {
        display: grid;
        row-gap: 5px;
        .balance {
          font-weight: bold;
        }
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .farming {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: max-content;
    .header {
      grid: max-content / max-content 1fr max-content;
      height: fit-content;
      :last-child {
        justify-self: flex-end;
      }
      .help {
        padding: 0;
      }
      svg {
        width: 17px;
        height: 17px;
      }
      .lp-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 5px;
      }
    }

    .info {
      display: grid;
      grid-auto-rows: minmax(40px, 1fr);
      width: 100%;
      @include info-row;
      .data {
        text-align: center;
      }
    }

    .actions {
      display: grid;
      column-gap: 20px;
      grid-template-columns: none !important;
      justify-items: center;

      .get-lp-text {
        font-size: 17px;
        text-align: center;
        align-self: center;
        margin: 10px;
      }

      .buttons {
        grid-auto-flow: column;
        column-gap: 10px;
      }
      @media screen and (max-width: 410px) {
        .buttons {
          row-gap: 10px;
          grid-template-columns: auto;
          column-gap: 0;
          grid-auto-flow: inherit;
        }
      }
    }
  }

  @media screen and (max-width: 670px) {
    .farming,
    .wallet {
      grid-column: span 2;
    }
  }

  .curve-pool {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 2;
    column-gap: 20px;

    @media screen and (max-width: 1111px) {
      .investment-plan {
        grid-template-rows: max-content max-content 0.5fr;
        row-gap: 10px;
      }
    }
    @media screen and (max-width: 750px) {
      .investment-plan {
        grid-template-columns: 1fr;
      }
    }

    .curve {
      display: grid;
      grid-template-rows: [header] max-content [tabs]1fr;
      grid-template-columns: 1fr;

      .header {
        display: grid;
        grid-row: header;
        grid-template-columns: [title] max-content [link] 1fr [slider] max-content;
        .header-title {
          grid-row: title;
          margin-right: 10px;
        }
        .link {
          grid-row: link;
        }
        .slider {
          grid-row: slider;
          margin-right: 0;
        }
        .slider-off {
          .MuiFormControlLabel-label {
            opacity: 0.5;
          }
        }
      }
      .tab-group {
        display: grid;
        grid-row: tabs;
        .token-inputs {
          display: grid;
          align-items: center;
          margin-top: 10px;
          row-gap: 10px;
          img {
            width: 30px;
            height: 30px;
          }

          .token {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-template-rows: max-content max-content;
            align-content: center;
            row-gap: 5px;
            column-gap: 10px;
            align-items: center;

            .balance {
              opacity: 0.7;
              grid-column-start: 2;
            }
            span {
              font-size: 15px;
            }
          }
        }
        [id^="simple-tabpanel-"] {
          > div {
            padding: 0;
            margin-top: 10px;
          }
        }

        .radio-group {
          display: grid;
          grid-auto-flow: column;
          justify-items: center;
        }
      }
    }
  }
}
.modal {
  max-width: 700px;
  display: grid;
  place-items: center;
  margin: auto;
  height: 100%;
  align-content: center;
  button {
    svg {
      height: 25px;
      width: 25px;
      overflow: initial;
      color: #be7c40;
    }
    z-index: 2;
    display: grid;
    justify-self: flex-end;
    top: 50px;
    margin-right: 3px;
  }
  img {
    min-width: 300px;

    width: 100%;
    border-radius: 26px;
  }
}
@media screen and (max-width: 1450px) {
  .pool-farming {
    grid-template-columns: auto 1fr;
  }
}
@media screen and (max-width: 750px) {
  .pool-farming {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }
}

@media screen and (max-width: 1280px) {
  .data {
    text-align: end;
    justify-content: flex-end;
  }
}
